/*color_pallete: https://colorhunt.co/palette/557571d49a89f7d1baf4f4f4			*/
/*awesome CSS border property tutorial: https://youtu.be/d_3fKSHwq_g				*/

:root{
	--background: #F4F4F4;
	--second:	  #F7D1BA;
	--lnkcolor:	  #D49A89;
	--fntcolor:	  #557571;
	--xtracolor:  #E96479;
	  }

* {
margin: 0 0 0 0;		/* top right bottom left - global margin reset */
padding: 0 0 0 0;		/* top right bottom left - global padding reset */
}

body {
	font-size: 16px;
	background-color: var(--background);
	color: black;
	max-width: 1000px;
	margin: 10px auto 10px;		/* top, right and left, bottom */

	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	line-height: 1.3em;
	height: 100%;

	outline: 1px solid pink;
	}	

article {
	border: 7px solid black;
	/*border-radius: 60px;									*/
   }

header {
	font-size: 16px;
   text-transform: uppercase;
	padding: 1.2em 0 1.2em;		/* top, right and left, bottom */
	outline: 1px solid pink;
	}

h1 {
	font-size: 32px;
	text-transform: uppercase;
	}

h2 {
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	background-color: var(--second);
	line-height: 1.5em;
	}

h3 {
	font-size: 26px;
	text-transform: uppercase;
	padding: 1.5rem 1.2rem 0.5rem;	/*top, right and left, bottom */
	margin: 1rem 0 0 0;					/*top, right, bottom, left */
	}

#price {
	font-size: 30px;
	padding: 0.5rem 1.2rem 0.7rem		/*top, right and left, bottom */
	}

#shipping {
	font-size: 14px;
	color: var(--fntcolor);
	font-weight: 800;
	text-transform: uppercase;
	padding: 0.5rem 1.2rem 0.7rem		/*top, right and left, bottom */
	}

p {
	padding: 0.5rem 1.2rem 0.7rem;	/*top, right and left, bottom */
	outline: 1px solid pink;
	}

article a {
	text-decoration: underline;
	padding: 0 1.2rem 1rem;				/*top, right and left, bottom */
	margin: 0 0 1rem 0;					/*top, right, bottom, left */
}

a:link {
	color: var(--lnkcolor);
	color: black;
	text-decoration: underline;
	padding: 0 1.2rem 1rem;				/*top, right and left, bottom */
	margin: 0 0 1rem 0;					/*top, right, bottom, left */
	}						/* Margins don't work on small elements like anchors.
								I need to try something else. */

a:visited {
	color: var(--lnkcolor);
	color: black;
	}						/* Margins don't work on small elements like anchors.
								I need to try something else. */

a:hover {
	color: black;
	color: var(--lnkcolor);
	text-decoration: none;
	padding: 0 1.2rem 1rem;				/*top, right and left, bottom */
	}						/* Margins don't work on small elements like anchors.
								I need to try something else. */

a:active {
	color: black;
	color: var(--lnkcolor);
	text-decoration: none;
	padding: 0 1.2rem 1rem;				/*top, right and left, bottom */
	}						/* Margins don't work on small elements like anchors.
								I need to try something else. */

.stndrd_image {
	width: 400px;
   /*border-radius: 50px;										*/
   }

.since1917 {
	padding: 0.5rem 1.2rem 1rem 1.2rem;		/*top, right, bottom, left */
	}

.details_list {
	margin: 0 0 0 2.0rem;						/*top, right, bottom, left */
	}

.details_list li {
	list-style: square;
	padding: 0 1.2rem 0 1.2rem;				/*top, right, bottom, left */ 		
	margin: 0 0 0.4rem 0;						/*top, right, bottom, left */
	}

.details_list li:nth-child(4) {
	font-weight: bold;
	color: orangered;
	}

button {
	background-color: black;
	color: var(--background);
	border: none;	
	font-size: 26px;
	text-transform: uppercase;
	cursor: pointer;

	padding: 0.3em 1em 0.3em;					/*top, right and left, bottom */
	width: 100%;
	border-top: 7px solid black;
	}

button:hover {
	background-color: var(--background);
	color: var(--fntcolor);
	font-size: 26px;
	font-weight: 800;
	}

footer {
	text-align: center;
	font-size: 12px;
	font-style: normal;
   font-weight: normal;
   }		


/*     float: left;				*/
/*     margin-right: 30px;		*/ 
/*		 margin-left:  30px;		*/	
